@font-face {
	font-family: 'EBENYA'; 
	src: url(font/EBENYA.ttf); 
}

body{
    /* --target: 100%;
    background: linear-gradient(to right, #000 var(--target), #fff var(--target)); */

    background-color: black;
    color: white;
    /*
    * Для эксплорера
    */
   -ms-user-select: none;

   /**
    * Для мозилы
    */
   -moz-user-select: none;

   /**
    * Для конкверора
    */
   -khtml-user-select: none;

   /**
    * Для Сафари и Хрома
    */
   -webkit-user-select: none;
}

.wrapper{
    height: 98vh;
    width: 100%;
    display: flex;
    align-items: center;
}

h1{
    font-size: 3rem;
    font-family: 'EBENYA';
    letter-spacing: 16px;
    text-transform: uppercase;
    line-height: 20px;
    margin: 0 auto;
}

.line{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
}

i{
    background-color: white;
    color: black!important;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.vertical-line{
    width: 1px;
    background-color: silver;
    height: 47vh;
    border: 2px ridge silver ;
    border-radius: 2px;
  }